<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Can you be the ultimate click man?</title>
  <link rel="icon" type="image/png" href="\favicomatic\favicon-32x32.png" sizes="32x32" />
  <script src="lib/jquery.js"></script>
  <script src="lib/jquery-ui.js"></script>
  <script src="lib/stopwatch.js"></script>
  <script src="lib/angular.js"></script>
  <script src="js/myscripts.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="../style.css">
  <script>
  $(function(){
    $("#header").load("../header.html");
    $("#footer").load("../footer.html");
  });
  </script>
</head>

<body>
  <div id="header"></div>
  <h1 id="title">Clickhaus</h1>
  <h2 id="subtitle">Obviously under construction!</h2>

  <div id="frame" ng-controller="StoreController as store">
    <div id="gameStuff">
      <table id="buyables">
        <tr>
          <td>Item</td>
          <td>Price</td>
          <td>Quantity</td>
        </tr>
        <tr ng-repeat="product in store.products">
          <td> <img src={{product.pic}} id={{product.name}} ng-click="increment(product)" class="empPic"></img></td>
          <td id="{{product.name}}-price" style="overflow: hidden" >{{product.price}}</td>
          <td> {{product.quantity}} </td>
        </tr>
      </table>

      <input id="funButt" type="image" src="images/button.png" ng-click="buttPress()" ></input>
    </div>

    <div class="timerStuff" >
      <p class="container">
        <span id="watchDisplay">00:00:00</span>
        <span id="dollarsign">$</span><span id="moneyDisplay">{{store.cash}}</span>
      </p>
      <p>
        <input id="start" type="button" value="Start" ng-click="startClick()">
        <input id="stop" style="display:none;" type="button" value="Stop" ng-click="stopClick()">
        <input id="reset" type="button" value="Reset" ng-click="resetClick(store)">
      </p>
    </div>
  </div>
  <hr/>


  <hr style="margin-top: 15px"/>

  <div class="feet">
    <p>&copy; Bennie Waters 2015</p>
    <p>Stopwatch by <a href="http://www.seph.dk/blog/projects/javascript-stopwatch-class/"> Seph Soliman</a></p>
  </div>
  <div id="footer"></div>
</body>
</html>
