* 									{ margin: 0; padding: 0; text-align: center;}
body								{ font: 14px Century Gothic, Sans-Serif;} 
a									{ text-decoration: none; }
ul									{ list-style: none; }
p                                   { margin: 15px 0; }
h1, h2 {
	font-weight: normal;
}
h1 {
	font-size: 50px;
}
h2 {
	font-size: 25px;
}
a {
	color: #000
}

/* 
	LEVEL ONE
*/

.drop { 
	display: inline-block;
	
	position: relative;
	z-index: 5;
}


ul.dropdown li                      { float: left; zoom: 1;}
ul.dropdown a:hover		            { color: #000; }
ul.dropdown a:active                { color: #ffa500; }
ul.dropdown li a                    { display: block; padding: 4px 8px; border-right: 1px solid #333;
	 								  color: #222; }
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { background: #F3D673; color: black; position: relative; }
ul.dropdown li.hover a              { color: black; }


/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ width: 220px; visibility: hidden; position: absolute; top: 100%; left: 0; }
ul.dropdown ul li 					{ font-weight: normal; background: #f6f6f6; color: #000; 
									  border-bottom: 1px solid #ccc; float: none; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block; } 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }


.flexslider{
	
	width: 250px;
	height: 200px;
	display: inline-block;
	
}
.flexslider .slides img{
	
}
.social-media{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 42px;
}
#grid .item {
	background-color: gray;
}
.ui-dialog {
	background-color: gray;
}
.ui-dialog-titlebar-close {
	display: none;
}
table{
	/*width: 30%; maybe remove*/
	display: inline-block;
}
td{
	width: 33%;
}
table, tbody{
	border: 1px solid black;
}
.timerStuff {
	background-color: #EBEBE0;
	width: 35%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	border-radius: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
}

#watchDisplay {
	font-size: 25px;
	padding-right: 50px;
	float: left;
	margin-left: 25%;
}

#moneyDisplay {
	font-size: 25px;
	float: right;
	margin-right: 25%;
	padding-left: 0;
}
#dollarsign {
	font-size: 25px;
	padding-right: 0;
}
#start, #stop, #reset {
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  outline: none;
}

#start {
	background-color: #32CD32;
	margin-right: 25px;
}

#stop {
	background-color: #32CD32;
	margin-right: 25px;
}

#reset {
	background-color: #DB2929;
}

#start:hover, #stop:hover {
  background: #249C24;
  text-decoration: none;
}

#reset:hover {
	background: #A32121;
}
#add, .remove {
	display:inline;
    width:25px;
    height:25px;
    border-radius: 50%;
    color:#f5f5f5;
    background: #464646;
    font-size:20px;
    font-weight:bold;
	outline: none;
}

#add:hover, .remove:hover {
	background: #262626;
}

#input {
	font-size: 20px;
}

#nameField, #salaryField {
	font-size: 20px;
}

#wasters {
	font-size: 20px;
}